body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background:/* #c8fdff*/#fddf91;
  border: 3px solid/* #045474*/ #f8a60e;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: rgb(37, 37, 37);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.move-list-item-selected{
  float: left;
  font-weight: bold;
  font-size: medium;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffad14;
}

.square.highlight {
  background: #ddd;
}

.list-button{
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(37, 37, 37);
}
.coming-up-player{
  /* color: #ffad14; */
  font-size:large;
}